extends layout

block content

    each image in jsonStuff.burgers
        img(src=image[1])    each burger in jsonStuff.burgers
        img(src=burger.burgerImg)  each burger in jsonStuff.burgers
  each burger in jsonStuff.burgers
    img(src=burger.burgerImg)