extends layout

block content

  each burger in jsonStuff.burgers
    <div class="foodName">#{burger.burgerName}</div>
    img(src=burger.burgerImg class="foodImg")
    <div class="foodDesc">#{burger.burgerDesc}</div>