extends layout

block content

    each dessert in jsonStuff.desserts
        <div class="foodName">#{dessert.dessertName}</div>
        img(src=dessert.dessertImg class="foodImg")
        <div class="foodDesc">#{dessert.dessertDesc}</div>