extends layout

block content
  div(class="menu_nav")
    a(href="./burgers")
      div(class="btn") Burgers
    a(href='./sides')
      div(class="btn") Sides
    a(href="./desserts")
      div(class="btn") Desserts