extends layout

block content

    each side in jsonStuff.sides
        <div class="foodName">#{side.sideName}</div>
        img(src=side.sideImg class="foodImg")
        <div class="foodDesc">#{side.sideDesc}</div>